<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Form</title>
</head>
<body>
    <form method="POST" action="/new" >
        <h1>Create a new message</h1>
        <div><label for="author">Author</label><input type="text" id="author" name="messageUser"></div>
        <div><label for="message">Message</label><input type="text" name="messageText" id="message"></div>
        <button>Submit</button>
    </form>
</body>
</html>
